{% extends 'blog/home.html' %}
{% load static blog_tags %}

{% block title %}专题|明细{% endblock %}

{% block article_list_head %}
<span class="layui-breadcrumb" lay-separator=">">
    <a href="{% url 'blog:home' %}">首页</a>
    <a href="{% url 'blog:subject' %}">专题</a>
    <a href="#">{{ subject.name }}</a>
</span>
{% endblock %}
{% block article_list %}
    <div class="subject-detail">
        <div class="layui-col-md3 left">
            <img src="{{ subject.cover.url }}" alt="{{ subject.name }}" class="cover">
            <p class="describe">{{ subject.description }}</p>
        </div>
        <div class="layui-col-md9 right">
            <div class="title">
                <h2>{{ subject.name }}</h2>
                <div><span>共{{ subject.get_article_count }}篇</span></div>
            </div>
            <hr>
            <div class="layui-timeline">
                {% get_ws_menu_by_subject subject as topics %}
                {% for topic in topics %}
                    <div class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">{{ topic.0 }}</h3>
                            <ul>
                                {% for item in topic.1 %}
                                    <li><a href="{{ item.1 }}">{{ item.2|date:'Y-m-d H:i:s' }}&nbsp;&nbsp;{{ item.0 }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extended_js %}
{% endblock %}